body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: white; /* LATAR PUTIH */
  color: #074a74;
  text-align: center;
}

.container {
  padding: 30px 20px;
  max-width: 500px;
  margin: auto;
}

.logo {
  width: 100px;
  margin-bottom: 15px;
}

h1 {
  margin-bottom: 30px;
  font-size: 17px;
  color: #074a74;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #074a74; /* TOMBOL BIRU */
  color: white;              /* TEKS PUTIH */
  text-decoration: none;
  margin: 10px 0;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: bold;
  transition: background 0.3s;
  gap: 10px;
}

.btn i {
  font-size: 18px;
}

.btn:hover {
  background-color: #053a5d; /* Biru lebih gelap saat hover */
}

.footer {
  margin-top: 40px;
  font-size: 12px;
  color: #666666;
}